{% extends 'base.html' %}
{% block content %}
    <h1>User Data Table</h1>
    <table>
        <thead>
            <tr>
            <button>
                <a href="{% url 'user_data_create' %}">Add User</a>
            </button>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Date of Birth</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.dob }}</td>
                <td><button><a href="{% url 'user_data_update' user.pk %}">Edit User</a></button></td>
                <td><button><a href="{% url 'user_data_delete' user.pk %}">Delete User</a></button></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No user data available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}